@model IEnumerable<BusinessLayer.Story>

@{
    ViewBag.Title = "Stories";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index_Test</title>
</head>
<body>
    <div>

        <h4>Story</h4>
        <hr />
        <div class="container">


            @foreach (var item in Model)
            {
                <div class="col-xs-12">
                    
                    <h3>
                        @Html.DisplayFor(modelItem => item.Title)
                    </h3>
                    <h6>by @Html.DisplayFor(modelItem => item.authorID) | @Html.DisplayFor(modelItem => item.DatePosted)</h6>
                    <p>
                        @Html.DisplayFor(modelItem => item.Body)
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("ExportJson", "", new { id = item.ID })'">
                                JSON
                            </button>

                        </div>
                        <div class="btn-group pull-right">
                            <div class="pull-right">
                                @if (Session["username"] != null && Session["username"].ToString() == item.authorID)
                                {
                                    <button type="button" class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("Edit", "", new { id = item.ID })'">
                                        Edit
                                    </button>
                                    <button type="button" class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("Delete", "", new { id = item.ID })'">
                                        Delete
                                    </button>
                                }
                            </div>
                        </div>
                        
                    </p>
                </div>

            }
        </div>
     </div>
</body>
</html>
